body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  position:relative;
  margin:0px;

}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://rafaelos134.github.io/calc-erro/imagens/DSC_0065-1024x683.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 550px;
  width: 100%;
  background-position: center center; 
  
}

.exemplo{
  background-color: #D9AC25;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 900;
  margin-top: -50;
  vertical-align: middle;
}

.page-title{
  font-size: 30px;
  color: azure;
  padding-top: 30px;
}

.page-subtitle{
  font-size: 20px;
  color: azure;
}
.exemplo{
  text-align:center;
  font-size: 30px;
  color: azure;
 
 
}


.form-wrapper {
  margin: 0 0 15px;
}

.form-wrapper input {
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #DA1E26;
  font-weight:bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s;
}

.form-wrapper button:hover {
  opacity:.8;
}

.exemplo #titulo {
  color: #000000;
  padding-top: 30px;
  font-family: 'OCR A Std', monospace;
}

.exemplo #resultado {
  color: #d71c1c;
}

.equation{
  color: #000000;
}

#valorfinal{
  color: #ffffff;
  font-size: 20px;
}

